{% extends 'patient/patientbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>
<br><br>
<div class="container my-4">
    <div class="jumbotron">

	      <h3 class="text-info text-center">コースを始める前に、ルールをご確認ください</h3>

        <div class="row">

            <div class="card border-info mx-4 my-4">
                <div class="card-body text-info">

                    <h4 class="card-title">詳細ルート:</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>コース名: {{course.course_name}}</li>
                            <li>合計質問数: {{total_questions}}</li>
                            <li>合計点: {{total_marks}}</li>
                        </ul>
                    <p></p>



                    <h4 class="card-title">ルール:</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>すべての質問は多肢選択問題です。</li>
                            <li><span class="text-danger">正しい選択肢は 1 つだけです。</span></li>
                            <li>すべての質問には異なる得点が付けられます。</li>
                
                            <li>できるだけ早く答えるようにしてください。</li>
                            <li>[更新] を押すか、前のページに戻ると、新しい質問が表示され、回答していた質問が試行済みとしてカウントされます。</li>
                            <li>質問はユーザーごとにランダムに表示されます。</li>
                            <li>解答を提出するとすぐに得点が通知されます。</li>
                        </ul>
                    <p></p>
                    <a href="{% url 'start-course' course.id  %}" class="btn btn-info">はじめましょう</a>
                </div>  
                <div class="card-footer">幸運を祈ります。</div>  
            </div>  
        </div>  
    </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}