<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<title>JP Aphasia</title>
<style>
  section {
    background-image: url({% static "image/bg.png" %});
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-align:center;
    background-size: cover;
  }

  .jumbotron{
    margin-bottom: 0px;
    color: white;
  }

  h1 {
    text-shadow: 5px 5px #656565;
  }

</style>
<body>
  {% include "quiz/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <br><br><br><br><br><br><br>
    <h1 class="display-1 text-info-white font-weight-bold">JP Aphasia</h1>
    <br><br>
    <a href="/patient/patientsignup" class="btn btn-lg btn-info" style="padding-right: 35px;"><i class="fa fa-user-plus" aria-hidden="true"></i>サインアップ</a>
    
    <br><br><br><br>
  </div>  
</section>
  {% include "quiz/footer.html" %}
</body>
</html>
