<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <title>Therapist Signup</title>
    <meta charset="utf-8">
    <style>

        form{
           margin: 50px; 
          
        }

    </style>
  </head>
  <body>
    {% include "quiz/navbar.html" %}
 


<br><br><br>
<h3 style="text-align: center;color: red;">セラピスト登録</h3>
<form method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="username">ユーザー名</label>
        {% render_field userForm.username|attr:'required:true'  class="form-control" placeholder="ユーザー名" %}
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">パスワード</label>
        {% render_field userForm.password|attr:'required:true'  class="form-control" placeholder="パスワード" %}
      </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="first_name">名</label>
          {% render_field userForm.first_name|attr:'required:true'  class="form-control" placeholder="名" %}
        </div>
        <div class="form-group col-md-6">
          <label for="last_name">姓</label>
          {% render_field userForm.last_name|attr:'required:true'  class="form-control" placeholder="姓" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="mobile">電話番号</label>
          {% render_field therapistForm.mobile|attr:'required:true'  class="form-control" placeholder="電話番号" %}
        </div>
        <div class="form-group col-md-6">
          <label for="address">住所</label>
          {% render_field therapistForm.address|attr:'required:true'  class="form-control" placeholder="住所" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="profile_pic">プロフィールの写真</label>
          {% render_field therapistForm.profile_pic|attr:'required:true' class="form-control" placeholder="" %}
        </div>
        
      </div>


    <button type="submit" class="btn btn-primary">サインアップ</button>
  </form>


<br><br>
{% include "quiz/footer.html" %}
  </body>
</html>
