<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <title>JP Aphasia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1,h2 {
      text-align: center;
    }

  </style>

</head>

<body>

  {% include "quiz/navbar.html" %}
  <br><br>
  <div class="jumbotron" style="margin-bottom:0px;">
    <br><br>
    <h1 class="display-4">こんにちは、セラピスト。</h1>
    <br>
    <h2 class="lead">JP Aphasia へようこそ。</h2>
    <br>
    <hr class="my-4">
    <p>ログイン後はさまざまな機能にアクセスできます。</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="therapistsignup" role="button">アカウントを作成 ✍</a>
      <a class="btn btn-primary btn-lg" href="therapistlogin" role="button">ログイン 🔐</a>
    </p>
    <br><br><br><br><br><br><br>
  </div>
  {% include "quiz/footer.html" %}
</body>

</html>
